.frame112-container {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.frame112-frame112 {
  width: 1098px;
  height: 643px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1071px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame112-ttcoban15 {
  top: 0px;
  left: 0px;
  width: 1190px;
  height: 36px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: var(--dl-color-gray-500);
}
.frame112-text {
  top: 0px;
  left: 376.4605407714844px;
  color: rgba(0, 0, 0, 1);
  width: 297px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text01 {
  color: rgba(0, 0, 0, 1);
  width: 297px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-ttsv326 {
  top: 36px;
  left: 0px;
  width: 1190px;
  height: 443px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame112-text02 {
  top: 366.82806396484375px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text03 {
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-tt01 {
  top: 33.0625px;
  left: 220px;
  width: 147px;
  height: 327.6875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame112-text04 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text05 {
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text06 {
  top: 49.109375px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text07 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text08 {
  top: 101.234375px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text09 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text10 {
  top: 153.34375px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text11 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text12 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  bottom: 100.21875px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text13 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text14 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  bottom: 50.109375px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text15 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text16 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text17 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-tt02 {
  top: 38.078125px;
  left: 628px;
  width: 147px;
  height: 322.671875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame112-text18 {
  top: 44.09375px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text19 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text20 {
  top: 96.21875px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text21 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text22 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text23 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text24 {
  top: 148.328125px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text25 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text26 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  bottom: 100.21875px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text27 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text28 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  bottom: 50.109375px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text29 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text30 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 147px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text31 {
  color: rgba(0, 0, 0, 1);
  width: 147px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-image {
  top: 117.26470947265625px;
  left: 49px;
  width: 143px;
  height: 189px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.frame112-ttht329 {
  top: 479px;
  left: 0px;
  width: 1190px;
  height: 43px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.frame112-text32 {
  top: 1px;
  left: 418px;
  color: rgba(0, 0, 0, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame112-text33 {
  color: rgba(0, 0, 0, 1);
  width: 241px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
